body,
html {
  height: 100%;
}

.background {
  background-image: url("../images/Social_ComingSoonBackground-01.png");
  height: 100%;
}

.box {
  border: 2px solid white;
  border-radius: 5px;
  background-color: white;
  text-align: center;
  font-size: 2.6em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-bottom: 30px;
  color: #8a2219;
  font-weight: bold;
  margin: 0px auto;
  max-width: 960px;
  padding: 0px 1.0875rem 1.45rem;
}

.examples {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: #f09c82;
  padding-bottom: 35px;
  margin-top: 15px;
}

footer {
  background: #f09c82;
  font-size: 14px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: end;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 20px; */
}
